<launch>

    <node pkg="visual_ekf_tester" type="visual_ekf_tester_node" name="tester" output="screen">
        <!--<param name="imu_raw" type="string" value="/dji_sdk/imu"/>-->
        <!--<param name="publisher_topic" type="string" value="/attitude_estimator/imu"/>-->
    </node>>
    <node pkg="visual_ekf" type="visual_ekf_node" name="visual_ekf_node" output="screen">
        <!--<param name="imu_raw" type="string" value="/dji_sdk/imu"/>-->
        <param name="imu_pose" type="string" value="/visual_ekf/test_imu"/>
        <param name="visual_topic" type="string" value="/visual_ekf/test_visual"/>
        <param name="publisher_topic" type="string" value="/visual_ekf/shield_T_world"/>
        <param name="debug_topic" type="string" value="/visual_ekf/debug_odom"/>
        <param name="accelerometer_noise_weight" type="double" value="100.0"/>
        <param name="accelerometer_bias_noise_weight" type="double" value="100.0"/>
        <param name="visual_pose_weight" type="double" value="10.0"/>
        <param name="node_sleep_time" type="int" value="0"/>
    </node>

</launch>
