[submodule "1_perception_cv/RMComputerVision"]
	path = 1_perception_cv/RMComputerVision
	url = git@github.com:robomasterhkust/RMComputerVision.git
[submodule "vins_so"]
	path = 2_localization/vins_so
	url = git@github.com:gaowenliang/vins_so.git
	branch = devel_new
[submodule "tools/plan_utils"]
	path = tools/plan_utils
	url = git@github.com:HKUST-Aerial-Robotics/plan_utils.git
