<launch>
    <!--<include file="$(find dji_sdk)/launch/sdk.launch"/>-->
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
        <!-- node parameters -->
        <param name="serial_name" type="string" value="/dev/ttyTHS2"/>
        <param name="baud_rate" type="int" value="921600"/>
        <param name="app_id" type="int" value="$(env DJIROS_APPID)"/>
        <param name="app_version" type="int" value="1"/>
        <param name="align_time" type="bool" value="false"/>
        <param name="enc_key" type="string" value="$(env DJIROS_ENCKEY)"/>
        <param name="use_broadcast" type="bool" value="false"/>
    </node>

    <!--<include file="$(find uwb_driver)/launch/uwb_driver.launch"/>-->
    <node pkg="socketcan_bridge" type="socketcan_to_topic_node" name="socketcan_to_topic_node" output="screen">
        <param name="can_device" value="can1" />
    </node>
    <node pkg="uwb_driver" type="uwb_driver_node" name="uwb_driver" output="screen">
		<param name="can_device" value="can1" />
    </node>


    <node pkg="ekf_uwb" type="ekf_uwb_node" name="ekf_uwb_node_quaternion" output="screen">
        <param name="imu_topic" type="string" value="/dji_sdk/imu"/>
        <param name="uwb_topic" type="string" value="/uwb_driver/info"/>
        <param name="publisher_topic" type="string" value="/ekf_odom"/>
        <param name="uwb_weight" type="double" value="100"/>
        <param name="acc_angle_weight" type="double" value="100"/>
        <param name="magnetometer_weight" type="double" value="100"/>
        <param name="accelerometer_weight" type="double" value="0.1"/>
        <param name="gyroscope_weight" type="double" value="0.1"/>
        <param name="acc_bias_weight" type="double" value="10"/>
        <param name="gyro_bias_weight" type="double" value="10"/>
    </node>
</launch>
