<?xml version="1.0"?>

<launch>
    <node pkg="cv_camera" type="cv_camera_node" name="cv_camera_node" output="screen">
        <param name="rate" value="10"/>
        <param name="device_id" value="0"/>
        <param name="cv_cap_prop_exposure" value="-10"/>
    </node>

    <node pkg="armor_recognition_publisher" type="armor_recognition_publisher_node" name="armor" output="screen">
        
    </node>
</launch>