<launch>
    <node pkg="system_identificiation" type="system_iden_node" name="system_iden_node" output="screen">
        <param name="cmd_topic" type="string" value="/system_iden_cmd_vel"/>
    </node>

	<node pkg="can_transmit" type="can_transmit_node" name="can_transmit_test" output="screen">
		<param name="cmd_topic" type="string" value="/system_iden_cmd_vel"/>
	</node>

	<node pkg="socketcan_bridge" type="topic_to_socketcan_node" name="topic_to_socketcan_test" output="screen">
		<param name="can_device" value="can1"/>
	</node>
</launch>
