<?xml version="1.0"?>
<opencv_storage>
<ADSetting>
  <EnemyColor>1</EnemyColor>
  <BGRMinBlue>
    180. 0. 0. 0.</BGRMinBlue>
  <BGRMaxBlue>
    255. 255. 255. 0.</BGRMaxBlue>
  <BGRMinRed>
    0. 0. 180. 0.</BGRMinRed>
  <BGRMaxRed>
    255. 255. 255. 0.</BGRMaxRed>
  <light_max_aspect_ratio_>5.</light_max_aspect_ratio_>
  <light_min_area_>5.</light_min_area_>
  <light_max_angle_>30.</light_max_angle_>
  <armor_max_angle_diff_>20.</armor_max_angle_diff_>
  <armor_max_anglePos_diff_>20.</armor_max_anglePos_diff_>
  <armor_min_area_>0.</armor_min_area_>
  <armor_max_aspect_ratio_>3.</armor_max_aspect_ratio_>
  <armor_max_stddev_>0.</armor_max_stddev_>
  <realArmorPoints>
    0. 0. 0. 130. 0. 0. 0. 55. 0. 130. 55. 0.</realArmorPoints></ADSetting>
<Cam0>
  <camDriver>0</camDriver>
  <camFileName>testcam.xml</camFileName>
  <stereoGp>-1</stereoGp>
  <motionGroup>0</motionGroup></Cam0>
<Cam1>
  <camDriver>0</camDriver>
  <camFileName>""</camFileName>
  <stereoGp>-1</stereoGp>
  <motionGroup>0</motionGroup></Cam1>
<Cam2>
  <camDriver>0</camDriver>
  <camFileName>""</camFileName>
  <stereoGp>-1</stereoGp>
  <motionGroup>0</motionGroup></Cam2>
<Cam3>
  <camDriver>0</camDriver>
  <camFileName>""</camFileName>
  <stereoGp>-1</stereoGp>
  <motionGroup>0</motionGroup></Cam3>
<Cam4>
  <camDriver>0</camDriver>
  <camFileName>""</camFileName>
  <stereoGp>-1</stereoGp>
  <motionGroup>0</motionGroup></Cam4>
</opencv_storage>
