<launch>
    <node pkg="calib_image_saver" type="stereoImageSaver" name="saver" output="screen">
        <remap from="/left_image" to="/mv_25001326/image_raw"/>
        <remap from="/right_image" to="/mv_25001326/image_raw"/>
        <param name="image_path" type="string" value="/home/gao/ws2/devel/lib/camera_model/tmp"/>
        <param name="image_name_left" type="string" value="left_"/>
        <param name="image_name_right" type="string" value="right_"/>
        <param name="rate" type="int" value="9"/>
        <param name="board_width" type="int" value="9"/>
        <param name="board_height" type="int" value="8"/>
        <param name="is_use_OpenCV" type="bool" value="false"/>
        <param name="is_show" type="bool" value="true"/>
    </node>

</launch>

