<launch>
    <include file="$(find rm_cv)/launch/cv_ad.launch"/>
    <node pkg="rm_self_aiming" name="server_node" type="server_node.py" output="screen"/>
    <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure" output="screen"/>
    <node pkg="rm_self_aiming" name="armor_frame_pid_with_x_node" type="armor_frame_pid_node_with_x.py" output="screen"/>
</launch>
